<div class="text-center mt-3 mb-3">
    <form>+
        <i aria-hidden="true" class="fa fa-search mr-1"></i>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
        >
    </form>
</div>
<!-- {{ filter }} -->
<app-photos [photos]="photos | filterByDescription: filter"></app-photos>

<app-load-button 
    (click)="load()"
    [hasMore]="hasMore">
</app-load-button>

<!-- 
[] - component => template (view)
()  - template (view)  => component 
-->

